{% extends 'base.html.twig' %}

{% block title %}Guestbook{% endblock %}

{% form_theme symfonyWayForm 'tailwind_2_layout.html.twig' %}
{% form_theme htmxWayForm 'tailwind_2_layout.html.twig' %}

{% block body %}
    <h1>Guestbook</h1>
    <div class="grid grid-cols-2 gap-6 mt-8">
        <div>
            <h2>Symfony Way</h2>

            <form action="{{ path('app_guestbook_index') }}" method="post" class="mt-5" novalidate>
                {{ form_row(symfonyWayForm.content) }}
                {{ form_row(symfonyWayForm.email) }}

                {{ form_row(symfonyWayForm.submit, {'attr': {'class': 'btn'}}) }}

                {{ form_rest(symfonyWayForm) }}
            </form>
        </div>
        <div>
            <h2>HTMX Powered</h2>

            <form
                    {# hx-boost="true" #}

                    {# cheat for the demo but boost is enougth #}
                    hx-post="{{ path('app_guestbook_index') }}"
                    hx-select="#bodyContainer" hx-target="#bodyContainer"
                    hx-swap="outerHTML"

                    action="{{ path('app_guestbook_index') }}"
                    method="post"
                    class="mt-5" id="htmxWayForm" novalidate>
                {{ form_row(htmxWayForm.content) }}
                {{ form_row(htmxWayForm.email) }}

                {{ form_row(htmxWayForm.submit, {'attr': {'class': 'btn'}}) }}

                {{ form_rest(htmxWayForm) }}
            </form>
        </div>
    </div>
{% endblock %}
