{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block modal %}
    <div id="modal">
        <div class="modal-underlay"></div>
        <div class="modal-content">
            <h1>Register</h1>

            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm, {
                'attr': {
                    'hx-post': path('app_register'),
                    'hx-target': '#modal-div',
                    'hx-select': '#modal',
                    'hx-boost': 'true',
                }
            }) }}
            {{ form_widget(registrationForm._token) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            <button type="submit" class="btn">Register</button>
            {{ form_end(registrationForm) }}

            <div>
                <button onclick="htmx.remove(htmx.find('#modal'));">
                    Close
                </button>
            </div>
        </div>
    </div>
{% endblock %}
