{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form, {'attr': {
        'hx-post': path('app_spa_message'),
        'hx-target': 'body',
    }}) }}
        <div class="mb-3">
            {{ form_label(form.content) }}
            {{ form_widget(form.content, {'attr': {'class': 'block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500'}}) }}
        </div>
        <div>
            {{ form_widget(form.submit, {'attr': {'class': 'btn'}}) }}
        </div>
    {{ form_end(form) }}
{% endblock %}
