{% extends 'base.html.twig' %}

{% block alert %}
    {% if message is defined %}
        <p>Message "{{ message.content }}" has been sent!</p>
    {% endif %}
{% endblock %}

{% block body %}
        {{ form_start(form, {'attr': {
            'hx-post': path('app_spa_message'),
            'hx-target': 'body',
        }}) }}
        {{ form_label(form.content) }}
        {{ form_widget(form.content) }}
        {{ form_widget(form.submit) }}
    {{ form_end(form) }}
{% endblock %}
