{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form, {'attr': {
        'hx-post': path('app_spa_message'),
        'hx-target': 'body',
    }}) }}
        <div class="mb-3">
            {{ form_label(form.content) }}
            {{ form_widget(form.content) }}
        </div>
        <div>
            {{ form_widget(form.submit, {'attr': {'class': 'btn'}}) }}
        </div>
    {{ form_end(form) }}
{% endblock %}
